# Laravel Defaults
/bootstrap/compiled.php
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.*.php
.env

# Media files
*.jpg
*.jpeg
*.jpe
*.tif
*.tiff
*.png
*.ico

# OS files
.directory
