/*
 * All SCSS mixins will be listed below
 */

/*
 * transitions
 *
 * This generates as many transitions as required by the requesting element,
 * with vendor variants included.
 */
@define-mixin transitions $settings... {
    $set: null;
    @each $transition in $settings {
        $set: $set, $transition;
    }

    transition: $set;
}

@define-mixin text-glow $number: 1, $color: #00C49A {
    $base: 2;
    $size: 2;
    $set: null;
    @for $i from 1 through $number {
        $set: $set, 0 0 $(size)px $color;
        $size: $size * $base;
    }

    text-shadow: $set;
}
