/*
 * All SCSS mixins will be listed below
 */

/*
 * transitions
 *
 * This generates as many transitions as required by the requesting element,
 * with vendor variants included.
 */
@mixin transitions($settings...) {
    $set: null;
    @each $transition in $settings {
        $set: $set, $transition;
    }

    -webkit-transition: $set;
    -moz-transition: $set;
    -o-transition: $set;
    transition: $set;
}
