/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/base.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
@tailwind base;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,400,700');
@import url('https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?u8vidh');

html {
    height: 100%;
}
body {
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    &.content-title {
        @apply .mb-4 .font-normal;
    }
}

h1 {
    &.content-title {
        @include text-glow(5);
    }

    &.banner-title {
        @apply .text-3xl .font-normal;
        @include text-glow(3, #fff);
    }
}

h2, h3 {
    &.content-title {
        @include text-glow(4);
    }
}

h4, h5 {
    &.content-title {
        @include text-glow(3);
    }
}

h6 {
    &.content-title {
        @include text-glow(2);
    }
}

p {
    &.banner-paragraph {
        @apply .text-base;
        @include text-glow(2, #fff);
    }
}

a {
    @apply .text-sea-green .trans-color;

    &:hover,
    &.active {
        @apply .text-white;
    }

    &.active {
        @include text-glow(4);
    }
}

img {
    height: auto;
}

button {
    @include transitions((color $default-speed, border-color $default-speed));
}

.container-flexible-large {
    max-width: 1600px;
}

.mobile-menu {
    top: 100%;
    @apply .bg-black;
    @include transitions((opacity $default-speed));
    z-index: -10;
    opacity: 0;
}

.banner-section {
    background-size: cover;
    background-position: center top;
    box-shadow: 0px 2px 4px #000;
}

.home-banner {
    background-image: url(https://s3.amazonaws.com/elliotderhay-com/banners/project-code-3.jpg);
}

.banner-content-wrapper {
    padding-top: 15vw;
}

.status-code {
    font-size: 200px;
    @include text-glow(5);
    @apply .font-thin;
}

.status-description {
    @apply .text-2xl .leading-normal .py-4;
}

.status-title {
    @apply .font-thin;
}

@media only screen and (min-width: 600px) {
    .banner-section {
        height: 56.25vw;
        min-height: auto;
    }
}

@media only screen and (min-width: 768px) {
    .mobile-menu {
        top: auto;
        @apply .bg-transparent .h-auto;
        z-index: 10;
        opacity: 1;
    }

    h1.banner-title {
        @apply .text-5xl .font-normal;
    }

    p.banner-paragraph {
        @apply .text-3xl;
    }
}

@media only screen and (min-width: 992px) {
    .banner-section {
        height: 46.875vw;
    }
}

@media only screen and (min-width: 1200px) {
    .banner-section {
        height: 37.5vw;
    }
}


/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

.backlight {
    background-image: linear-gradient(to top, #00A87E, rgba(0, 168, 126, 0.26666666666666666) 5px, transparent 75%);
}

.construction {
    background-image: repeating-linear-gradient(45deg, transparent 0px, transparent 50px, rgba(69, 52, 17, 0.8) 50px, rgba(69, 52, 17, 0.8) 100px, transparent 100px);
}

.trans-color {
    @include transitions((color $default-speed));
}

.trans-border-color {
    @include transitions((border-color $default-speed));
}

.box-glow {
    box-shadow: 0 0 20px 0 #fff;
}

.layer-shadow {
    box-shadow: 0px 2px 4px #000;
}
